body{
  font-family: "Lucida Sans", sans-serif;
}

.paper-btn {
  display: inline-block;
  margin: 58px 12px;
}

.paper-btn label {
  text-align: center;
  display: inline-block;
  width: 80px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
  background-color 1s,
  color 1s;
}
.paper-btn input {
  display: none;
}

.paper-btn-true{
  background-color: #f5f5f5;
}

.paper-btn-false{
  background-color: #f5f5f5;
}

.paper-btn-true input:checked ~ label {
  color: white;
  background-color: green;
  box-shadow: 0 4px 12px rgba(0, 128, 0, 0.6);
}

.paper-btn-false input:checked ~ label {
  color: white;
  background-color: red;
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.6);
}
