body {
	background: #f2f5f9;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	text-align: center;
	margin: 0;
 }
.table{
	display: table;
	width: 100%;
	margin: 0;
	border-spacing: 5px;
}
.row{
	display: table-row;
}
.cell{
	display: table-cell;
	border: 2px solid black;
	width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 12px;
  	font-weight: bold;
  	background: #a9d6f5;
}
.header, .footer{
	display: table-cell;
	border: 2px solid black;
	border-radius: 12px;
	background: #ff8080;
}