body{
	background-color: rgb(5, 12, 41);
	color: white;
	font-family: "Lucida Sans", sans-serif;
}

.shadow{
	width: 200px;
	height: 200px;
	margin: 100px;
	box-shadow: inset 0px 0px 60px 20px #f00;
	background-color: rgb(5, 12, 41);
}

.shadow:hover{
	box-shadow: 0px 0px 70px 30px #f00;
}