body{
	background-color: darkgray;
	font-family: "Lucida Sans" sans-serif;
	font-size: 18pt;

}

.flags {
	display: flex;
	width: 1000px;
	height: 450px;
	flex-wrap: wrap;
	margin: 0 auto;

}

.flag{
	width: 300px;
	height: 200px;
	background-color: black;
	margin: 10px;
}

.ireland{
	background-image: linear-gradient(to right,rgb(17,144,55) 33%, white 33%, white 67%, rgb(251,98,8) 67%);
}

.cote{
	background-image: linear-gradient(to right,rgb(192,0,30) 35%, white 35%, white 70%, rgb(192,0,30) 70%);
}

.madagaskar{
	background-image: linear-gradient(to right, white 33%, rgb(249,37,39) 33%);
}