body{
	background-color: aliceblue;
	font-family: "Lucida Sans", sans-serif;
	font-size: 16pt;
	color: white;
}

.flex{
	display: flex;
	width: 1000px;
	height: 500px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 60px;
	margin: 0 auto;
}

.block{
	position: relative;
	width: 400px;
	height: 200px;
}

.shadow2{
	position: absolute;
	z-index: 1;
	transition: 0.3s ease;
}

.shadow1{
	position: absolute;
	z-index: 2;
	transition: 0.3s ease;
}

.top {
	display: flex;
	position: absolute;
	width: 400px;
	height: 200px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
  	z-index: 3;
  	transition: 0.3s ease;
}

.red > .top {
	background-color: rgb(228,144,141);
}

.red > .shadow1{
	width: 230px;
	height: 40px;
	top: 115px;
	left: 120px;
	padding-left: 10px;
	transform: rotate(7deg);
	background-color: rgb(137,100,90);
	border: 5px solid rgb(137,100,90);
	box-shadow: -10px 10px 15px 30px rgb(137,100,90);
}

.red > .shadow2 {
	width: 230px;
	height: 40px;
	top: 115px;
	left: 30px;
	padding-left: 10px;
	transform: rotate(-7deg);
	background-color: rgb(137,100,90);
	border: 5px solid rgb(137,100,90);
	box-shadow: 10px 10px 15px 30px rgb(137,100,90);
}

.yellow > .shadow2{
	width: 250px;
	height: 40px;
	top: 120px;
	left: 50px;
	transform: rotate(-5deg);
	background-color: rgb(145,121,57);
	border: 5px solid rgb(145,121,57);
	box-shadow: 10px 10px 15px 30px rgb(145,121,57);
}

.yellow > .top {
	background-color: rgb(232,229,136);
}

.green > .top{
	background-color: rgb(143,234,144);
}

.green > .shadow1{
	width: 300px;
	height: 40px;
	left: 45px;
	top: 10px;
	background-color: rgb(110,175,107);
	border: 5px solid rgb(110,175,107);
	border-radius: 15px;
	box-shadow: 0px 0px 25px 30px rgb(110,175,107);
}

.green > .shadow2{
	width: 300px;
	height: 40px;
	left: 45px;
	top: 140px;
	background-color: rgb(110,175,107);
	border: 5px solid rgb(110,175,107);
	border-radius: 15px;
	box-shadow: 0px 0px 25px 30px rgb(110,175,107);
}

.cyan > .top{
	background-color: rgb(143,233,177);
}

.cyan > .shadow2{
	width: 350px;
	height: 100px;
	left: 20px;
	top: 45px;
	background-color: rgb(82,123,113);
	border: 5px solid rgb(82,123,113);
	box-shadow: 0px 0px 25px 30px rgb(82,123,113);
}

.block:hover .shadow1,
.block:hover .shadow2 {
    transition: 0.3s;
    box-shadow: 0 0 50px 50px currentColor;
    transform: scale(1.05);
}

.block:hover .top {
    transition: 0.3s;
    transform: scale(1.03);
}

.red { 
	color: rgb(137,100,90);
}
.yellow { 
	color: rgb(145,121,57);
}
.green { 
	color: rgb(110,175,107);
}
.cyan {
	color: rgb(82,123,113); 
}






