body{
	background-color: #1c1c1f;
	font-family: "Lucida Sans", sans-serif;
	font-size: 16pt;
	color: white;
}

.flex{
	display: flex;
	width: 1000px;
	height: 500px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin: 0 auto;
}

.block{
	position: relative;
	z-index: 3;
	width: 400px;
	height: 200px;
	background-color: rgb(228,144,141);
}

.top{
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red1{
	position: relative;
	width: 50%;
	height: 50%;
	top: -200px;
	box-shadow: 0px 0px 20px 10px rgb(141, 104,93);
	z-index: 1;
}