body{
	background-color: #ffffff;
	color: #14213d;
	font-family: sans-serif;
	font-size: 16pt;
}

.main-menu{
	position: absolute;
	width: 20%;
	height: 100%;
	list-style: none;
	padding: 10px;
	background-color: #e5e5e5;
	left: -100%;
	visibility: hidden;
	transition-duration: 0.5s;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 5px solid #fca311;

}

.main-menu li {
    margin: 10px 0;
    padding: 12px 10px;
    text-align: center;
    background-color: #fca311;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s, color 0.3s;
}

.main-menu li:hover {
    color: #ffffff;
}

.main-menu li > ul {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    list-style: none;
    padding-left: 2px;
    margin-top: 5px;
}

.main-menu li:hover > ul {
    max-height: 500px;
    opacity: 1;
}

.main-menu li > ul li {
    background-color: #CF8002;
    padding: 8px 12px;
    margin: 4px 0;
    text-align: left;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

.main-menu li > ul li:hover {
    background-color: #A26402;
    color: #ffffff;
}

#ham-check{
	opacity: 0;
}

.ham-button span{
	display: block;
	position: absolute;
	width: 30px;
	height: 6px;
	background-color: #fca311;
	transform: rotate(0deg);
	transition: 0.5s;
	border-radius: 5px;
}

.ham-button span::before, .ham-button span::after{
	display: block;
	position: absolute;
	width: 30px;
	height: 6px;
	background-color: #fca311;
	transform: rotate(0deg);
	transition: 0.5s;
	border-radius: 5px;
}

.ham-button span::before{
	top: -10px;
	content: "";
}
.ham-button span::after{
	top: 10px;
	content: "";
}

#ham-check:checked ~ .main-menu {
	left: -0.5%;
	visibility: visible;
	transition-duration: 0.5s;
}

#ham-check:checked + .ham-button span::before{
	top: 0px;
}

#ham-check:checked + .ham-button span{
	transition-duration: 0.5s;
	transform: rotate(-225deg);
}

#ham-check:checked + .ham-button span::after{
	top: 0px;
	transform: rotate(90deg);
}

h1{
	text-align: center;
	color: #fca311;
}
