body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: darkgray;
}

.main-frame{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 320px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    position: relative;

    border-radius: 20px;
}

.main-frame img{
    width: 220px;
    margin-bottom: 20px;
}

.heart{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.coffee-name{
    font-weight: bold;
    text-align: center;
}

.coffee-desc{
    text-align: center;
    font-size: 12px;
}

.weight{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.weight button{
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #dcd7d4;
}

.weight .active{
    border: 1px solid #866550;
}

.pomol{
    font-size: 10pt;
}

.coffee-select{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #dcd7d4;
}

input:focus, select:focus{
    outline: none;
    border: 2px solid #dcd7d4;
    background: #dbd7d3;
}

.controls  {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
    cursor: pointer;
}

.controls input {
    width: 60px;
    padding: 6px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #dcd7d4;
}

.buy {
    background: #6a4d3e;
    color: white;
    border: none;
    padding: 8px 22px;
    border-radius: 20px;
}

.more {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #dcd7d4;
    background: white;
    color: #6a4d3e;
}

button:hover {
    opacity: 0.85;
    cursor: pointer;
}