body {
	background-color: rgb(245, 197, 112);
	font-family: 'Helvetica', sans-serif;
	font-size: 14pt;
	color: white;
	margin: 0;
	padding: 0;
}

.header-cont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	margin: 20px auto;
	background-color: rgb(223, 68, 66);
	padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo img {
	height: 60px;
	width: auto;
	transform: scale(1.3);
	transform-origin: center;
	position: relative;
	top: 3px;
}

.promo img {
	height: 60px;
	width: auto;
	border-radius: 15px;
	transform: scale(1.0);
	transform-origin: center;
	position: relative;
	top: 3px;
}

nav {
	flex-grow: 1;
	margin: 0 40px;
}

ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	list-style: none;
	padding: 0;
	margin: 0;
}

ol > li {
	position: relative;
	padding: 8px 15px;
	border-radius: 15px;
	transition: background-color 0.3s;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

ol > li:hover {
	background-color: rgb(152, 31, 27);
}

.submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	overflow: hidden;
	transform: translateX(-50%);
	background-color: rgb(223, 68, 66);
	list-style: none;
	padding: 5px 0;
	margin: 0;
	border-radius: 0 0 20px 20px;
	min-width: 220px;
	z-index: 10;
}

.submenu li {
	padding: 8px 10px;
	text-align: center;
	transition: background-color 0.3s;
}

.submenu li:hover {
	background-color: rgb(152, 31, 27);
	border-radius: 15px;
}

.top-li:hover .submenu {
	display: block;
}
