body{
	background-color:#e8edf2;
	font-family: 'Helvetica', sans-serif;
	font-size: 14pt;
	color: #333;
}

* {
	box-sizing: border-box;
}

.index-grid {
	display: grid;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	height: 700px;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 10% minmax(0, 1fr) minmax(0, 1fr) 10%;
	grid-template-areas:
	  "site-header site-header site-header"
	  "promo promo sidebar"
	  "blog blog sidebar"
	  "site-footer site-footer site-footer";
	grid-gap: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.index-grid > * {
  border-radius: 20px;
}

.site-header {
  grid-area: site-header;
  background: #bcd4e6;
}

.promo {
  grid-area: promo;
  background: #c9e4de;
}

.blog {
  grid-area: blog;
  background: #dee8d5;
}

.sidebar {
  grid-area: sidebar;
  background: #f2d388;
}

.site-footer {
  grid-area: site-footer;
  background: #c3bef0;
}