body {
	background-color: #FF9200;
	font-family: 'sans-serif';
	font-size: 15pt;
	color: black;

}

h1 {
	font-style: italic;
}

.base {
	border: 3px double black;
	padding: 10px;
}

.xz {
	color: blue;
	font-weight: bold;
}