body{
	font-family: Arial, sans-serif;
	background: azure;
	margin: 0;
}

header, footer {
	display: block;
    background: #ffeb3b;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    clear: both;
}

.sidebar{
	float:left;
	width: 200px;
	background: #bbdefb;
	padding: 10px;
}

.main {
	overflow: hidden;
	background: #d7ccc8;
  	padding: 10px;
  	margin-left: 220px;
}

.pic {
  	float: left;
  	width: 120px;
  	margin: 0 10px 10px 0;
}