body{
	background-color: antiquewhite;
	font-family: "Verdana","Arial","Geneva", sans-serif;
	font-size: 18pt;
	color: black;
}
p{
	text-align: center;
}
h1{
	text-align: center;
}
img{
	display: block;
	height: 500px;
	width: 345px;
	margin: 10px auto;
}