body{
	font-family: "Calibri, Arial", sans-serif;
	font-size: 14pt;
	color: #1c1c1c;
	background-color: #f2ede4;
}

h3{
	font-style: italic;
	color: #1c1c1c;
}

ul, ol {
	line-height: 1.5;
}

.main-name{
	color: #e63946;
	font-weight: bold;
}

.italic-name{
	color: #e63946;
	font-style: italic;
}

.main-name2{
	color: #32525e;
	font-weight: bold;
}

.italic-name2{
	color: #32525e;
	font-style: italic;
}

.paragraph1{
	margin-top: 15px;
	margin-bottom: 15px;

	border: 5px solid #32525e;
	background-color: #ffffff;
	padding: 2px;
	border-radius: 40px;
}

.paragraph2{
	margin-top: 15px;
	margin-bottom: 15px;

	border: 5px solid #e63946;
	background-color: #ffffff;
	padding: 2px;
	border-radius: 40px;
}

ul li::marker{
	color: #e63946;
}