body {
	background-color: azure;
	font-family: 'Lucida Sans', sans-serif;
	margin 0;
	font-size: 20pt;
	color: blue;
}

.grid-container{ 
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	border: 1px solid red;
	grid-gap: 10px;
	padding: 10px;
}
  
.flex{
	border: 2px solid darkblue;
	height: 200px;
}

.scale {
	border: 2px solid green;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}