body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    text-align: center;
    margin: 20px;
}
img {
    margin: 20px auto;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
}

figcaption {
    margin-top: 10px;
    font-size: 18px;
    color: #1c1c1c;
}

a {
    text-decoration: none;
    color: ##1c1c1c;
    font-size:15px;
}